/*-------------------------------------------------*\
					$Header
\*-------------------------------------------------*/
.header{
	height: 75px;
	font-family: 'PT Sans Narrow', sans-serif;
	padding: 0;
	text-align: center;

	
}/* End .header */